.profile-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-card {
    background: #F9FAFB;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    height: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-card h3 {
    margin-top: 0;
}

.profile-card p {
    margin-bottom: 0;
}


.pricing-card h3 {
    margin-top: 0;
}

.get-started-button {
    background: #7F56D9;
    border: none;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    width: 320px;
    height: 48px;
    color: white;
}


.course-card p {
    margin-bottom: 20px;
}

/* tutor profile */
.pro{
    background-color: whitesmoke;
    
}
.profile{
	gap: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}
.container{
	height: 375px;
	width: 20%;
    max-width: 260px; 
	background-color: white;
	padding: 0px 0px 40px 0px;
	transition: all .40s ease;
	cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
}

.container img{
	width: 100%;
	height: 260px;
	object-fit: cover;
	
}
.profile-text h1{
	margin: 1px 0 1px;
	font-size: 19px;
	color: black;
	line-height: 8px;
	font-weight: 600;
    margin-left: 5px;
}
.profile-text h4{
	color: black;
	font-size: 16px;
	font-weight: 300;
    margin-left: 5px;
}
.rating {
    margin-left: 5px;
    margin-bottom: 10px;
}

.star {
    color: #f1c40f;
    font-size: 20px;
    margin-right: 3px;
}

.select {
    border-radius: 8px;
    margin-left: 5px;
    width: 95px;
    height: 40px;
    padding: 8px 16px;
    background: #7F56D9;
    color: #fff;
    border: none;
    cursor: pointer;
}


@media (max-width: 800px){
	section{
		padding: 20px 4%;
	}
	.container{
		width: 100%;
		height: auto;
		max-width: 600px;
	}
	.container img{
		width: 100%;
		height: 460px;
		object-fit: cover;
	}
}